.restaurant {
        width: 22%;
        padding: 5px;
        margin: 5px;
        display: inline-block;
        border: 2px solid green;
        background-color: gold;
        color: black;
    }
    .article {
        width: 22%;
        padding: 5px;
        margin: 5px;
        display: inline-block;
        border: 2px solid green;
        background-color: aliceblue;
        color: mediumblue;
    }
    .orders {
        width: 22%;
        padding: 5px;
        margin: 5px;
        display: inline-block;
        border: 2px solid green;
        background-color: red;
        color: white;
    }

    .ordersToDispatch {
        width: 22%;
        padding: 5px;
        margin: 5px;
        display: inline-block;
        border: 2px solid green;
        color: white;
    }

    .Comming {
        background-color: green;
    }
    .Delivered {
        background-color: gray;
    }

    .buttons-container {
        padding-top:0.5em;
        display: inline-block;
    }

    .required {
        color:red;
    }
    .modal{display:block;position: fixed;z-index: 100;padding-top: 100px !important;left: 0;top: 0;width: 100%;height: 100%;overflow: auto;background-color: rgb(0,0,0);background-color: rgba(0,0,0,0.4);}
    .modal-content{background-color: #fefefe;margin: auto;padding: 20px;border: 1px solid #888;width: 55%;}
    .close{color: #aaaaaa;float: right;font-size: 28px;font-weight: bold;}
    .close:hover,.close:focus{color: #000;text-decoration: none;cursor: pointer;}