
<div>
    <form name="frm">
        <label for="username">Username:</label><br />
        <input id="username" data-ng-model="loginuser.username" type="text" name="username" placeholder="Username" required=""/>
        <br />
        <label for="password">Password:</label><br />
        <input id="password" data-ng-model="loginuser.password" type="password" name="password" placeholder="Password" required=""/>
        <button data-ng-click="login()">login</button>
        <div data-ng-show="errorLogin">Username or password is wrong!</div>
    </form>
</div>