<link  href="css/signIn.css" rel="stylesheet">

<div ng-controller="signUpController">
<form name="signUpForm">
	<div class="box">
		<input type="text" name="username" placeholder="username" class="boxs" ng-model="customer.username" required />
  		<input type="password" name="password" placeholder="password" class="boxs" ng-model="customer.password" required />
  		<input type="text" name="name" placeholder="name" class="boxs" ng-model="customer.name" required />
  		<input type="text" name="surname" placeholder="surname" class="boxs" ng-model="customer.surname" required />	
  		<input type="email" name="email" placeholder="e-mail" class="boxs" ng-model="customer.email" required />
  		<input type="text" name="phone" placeholder="phone" class="boxs" ng-model="customer.phone" required />		
		<input type="submit" value="Submit" ng-click="submit()" class="btnSignIn"/>	
	</div>
</form>
</div>