<!DOCTYPE html>
<html >

<head>
    <script src="js/angular.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-resource/1.7.2/angular-resource.min.js"></script>
    <script src="js/angular-route.min.js"></script>
    <script src="app/app.js"></script>
    <link rel="stylesheet" href="css/global.css" />
    <link rel="stylesheet" href="css/home.css" />
        <link rel="stylesheet" href="css/login.css" />
    <script src="js/lodash.min.js"></script>
	<script src="js/moment.min.js"></script>
    
</head> 

<body data-ng-app="myModule">
<div>
		<div data-ng-show="loginuser.role == 'NOBODY'">
				<ul class="navbar">
				<li><a href="#/home">Home</a></li>

		  		<li class="right" ><a href="#/login">Sign in</a></li>
		  		<li class="right" ><a href="#/registration">Sign up</a></li>
			</ul>
		</div>

		<div data-ng-show="loginuser.role == 'CUSTOMER'">
				<ul class="navbar">
				<li><a href="#/home">Home</a></li>
		  		<li><a href="#/favorites">Favorites</a></li>
		  		<li><a href="#/history">History</a></li>
		  		
		  		<li class="right"><a data-ng-click="logOut()">Sign out</a></li>
			</ul>
		</div>
		<div data-ng-show="loginuser.role == 'DELIVERER'">
				<ul class="navbar">
				<li><a href="#/home">Home</a></li>
		  		<li><a href="#/orders">Orders</a></li>
<!-- 		  		<li><a href="#/theatre">Delivered</a></li>		 -->
		  		
		  		<li class="right"><a data-ng-click="logOut()">Sign out</a></li>

		  	</ul>
		</div>
		<div data-ng-show="loginuser.role == 'ADMIN'">
		
				<ul class="navbar">
				<li><a href="#/home">Home</a></li>
		  		<li><a data-ng-click="changeView('vehicles')">Manage Vehicles</a></li>
		  		<li><a data-ng-click="changeView('users')">Manage Users</a></li> 		
		  		<li><a data-ng-click="changeView('orders')">Manage Orders</a></li> 		  		
    		  	<li class="right"><a data-ng-click="logOut()">Sign out</a></li>
			</ul>
		</div>
		
</div>
	<div data-ng-view></div>


<!-- services -->
<script src="services/appService.js"></script>
<script src="services/dataService.js"></script>
<!--controllers-->
<script src="controllers/loginCtrl.js"></script>
<script src="controllers/homeCtrl.js"></script>
<script src="controllers/regCtrl.js"></script>
<script src="controllers/restaurantCtrl.js"></script>
<script src="controllers/vehicleCtrl.js"></script>
<script src="controllers/userCtrl.js"></script>
<script src="controllers/historyCtrl.js"></script>
<script src="controllers/ordersCtrl.js"></script>
<script src="controllers/favoritesCtrl.js"></script>
</body>
</html>